body {
    height: 100%;
}

.avatar {
    width: auto;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.allinfo {
    position: relative;
    top: 30px;
}

#background {
    box-shadow: 0px -20px 50px rgba(0, 0, 0, 0.3);
    z-index: -1;
    position: relative;
    top: -30px;
    background-color: bisque;
    width: 100%;
    height: 357px;
}

.singerName {
    font-family: "Roboto";
    font-size: 35px;
    margin-top: 25px;
    text-align: center;
    color: white;
}

.icons {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
}

#myInput {
    margin-top: 10px;
    margin-bottom: 50px;
}

.tracks {
    margin-top: 0px;
}

.songsPage input {
    width: '95%';
    display: 'block';
    margin-left: 'auto';
    margin-right: 'auto'
}

#overall {
    display: inline-block;
    width: 50%;
    margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
    #overall {
        width: 100%;
        display: inline-block;
    }
}

#commentWrapper {
    visibility: hidden;
    background-color: black;
    opacity: 0;
    bottom: 30px;
    position: sticky;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    background-color: white;
}

.playerWrapper {
    visibility: hidden;
    opacity: 0;
    bottom: 30px;
    position: sticky;
    width: 100%;
    height: 105px;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    background-color: white;
}

.referenceBoxClicked {
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
    position: sticky;
    bottom: 30px;
}

.referenceBox {
    visibility: hidden;
    position: sticky;
    bottom: 30px;
}

.comment {
    visibility: visible;
    width: 75vw;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    z-index: 1000000000;
}

.playerWrapperClicked {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    bottom: 30px;
    position: sticky;
    width: 100%;
    height: 105px;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    background-color: white;
}

#dot {
    width: 12px;
    position: relative;
    top: 14px;
    border-radius: 50%;
    height: 12px;
    background-color: #263238;
    z-index: 100000000000
}

.songinfo {
    left: 5px;
    width: 30%;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.curSong {
    font-weight: bold;
    margin-top: 13px;
    font-family: "Roboto";
    font-size: 23px;
}

.curAlbum {
    margin-top: 10px;
    font-family: "Roboto";
    font-size: 17px;
}

.control {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 70px;
    width: 38%;
    bottom: 3px;
    margin-left: auto;
    text-align: center;
}

.bar {
    position: relative;
    top: 23px;
    background-color: #9e9e9e;
    height: 5px;
    border-radius: 15px;
}

.barprogress {
    position: relative;
    top: 17px;
    background-color: #9e9e9e;
    height: 5px;
    border-radius: 15px;
}

#time {
    text-align: right;
    position: relative;
    top: 16px;
    font-size: 8px;
}

#buttons {
    position: relative;
    top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#play {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    color: #263238;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}

#next {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    color: #263238;
}

#playOrder {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    background-color: white;
    color: #263238;
}

@media (max-width: 800px) {
    #play {
        width: 40px;
        height: 40px;
        line-height: 45px;
    }
    #next {
        width: 40px;
        height: 40px;
        line-height: 45px;
    }
    #playOrder {
        width: 40px;
        height: 40px;
        line-height: 45px;
    }
    .curSong {
        font-size: 22px;
        margin-top: 20px;
    }
    .curAlbum {
        font-size: 15px;
    }
}

@media (max-width: 590px) {
    #play {
        width: 35px;
        height: 35px;
        line-height: 40px;
    }
    #next {
        width: 35px;
        height: 35px;
        line-height: 40px;
    }
    #playOrder {
        width: 35px;
        height: 35px;
        line-height: 40px;
    }
    #buttons {
        top: 25px;
    }
    .control {
        right: 20px;
        top: 3px;
    }
    .curSong {
        font-size: 18px;
        margin-top: 26px;
    }
    .curAlbum {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    #play {
        width: 27px;
        height: 27px;
        line-height: 31px;
        font-size: 15px;
    }
    #next {
        width: 27px;
        height: 27px;
        line-height: 31px;
        font-size: 15px;
    }
    #playOrder {
        width: 27px;
        height: 27px;
        line-height: 31px;
        font-size: 15px;
    }
    #buttons {
        top: 40px;
    }
    .control {
        right: 5px;
        top: 5px;
    }
    .curSong {
        font-size: 18px;
        margin-top: 26px;
    }
    .curAlbum {
        font-size: 10px;
    }
    #buttons {
        top: 31px;
    }
    #bar {
        top: 31px;
    }
    #time {
        top: 22px;
    }
    #dot {
        position: relative;
        top: 20px;
    }
}